In [1]:
import pandas as pd

In [2]:
! dir

 Volume in drive C is Windows
 Volume Serial Number is 08B8-7B0F

 Directory of C:\Users\User\Desktop\Project-1

03/16/2020  08:57 PM    <DIR>          .
03/16/2020  08:57 PM    <DIR>          ..
03/09/2020  07:59 PM             1,799 .gitignore
03/16/2020  08:57 PM    <DIR>          .ipynb_checkpoints
03/16/2020  08:37 PM           797,510 Project 1 - Group 6 - Data Set Analysis - 03.21.2020.pptx
03/16/2020  08:30 PM           227,974 Raw-Data-HR-Employee-Attrition.csv
03/09/2020  07:59 PM                26 README.md
03/16/2020  08:57 PM                72 Untitled.ipynb
               5 File(s)      1,027,381 bytes
               3 Dir(s)  173,335,449,600 bytes free

In [3]:
Raw_df = pd.read_csv("Raw-Data-HR-Employee-Attrition.csv")
Raw_df.head()

,Age,Attrition,BusinessTravel,DailyRate,Department,DistanceFromHome,Education,EducationField,EmployeeCount,EmployeeNumber,...,RelationshipSatisfaction,StandardHours,StockOptionLevel,TotalWorkingYears,TrainingTimesLastYear,WorkLifeBalance,YearsAtCompany,YearsInCurrentRole,YearsSinceLastPromotion,YearsWithCurrManager
0,41,Yes,Travel_Rarely,1102,Sales,1,2,Life Sciences,1,1,...,1,80,0,8,0,1,6,4,0,5
1,49,No,Travel_Frequently,279,Research & Development,8,1,Life Sciences,1,2,...,4,80,1,10,3,3,10,7,1,7
2,37,Yes,Travel_Rarely,1373,Research & Development,2,2,Other,1,4,...,2,80,0,7,3,3,0,0,0,0
3,33,No,Travel_Frequently,1392,Research & Development,3,4,Life Sciences,1,5,...,3,80,0,8,3,3,8,7,3,0
4,27,No,Travel_Rarely,591,Research & Development,2,1,Medical,1,7,...,4,80,1,6,3,3,2,2,2,2